<h4>Blog Search</h4>
@using (Html.BeginForm("BlogAra", "Home", FormMethod.Post,new { enctype="multipart/form-data"}))
{
    <div class="input-group">
        <input id="Ara" name="Ara" type="text" class="form-control">
        <span class="input-group-btn">
            <button class="btn btn-default" value="Ara" type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>

}
